@import 'normilize/normilize';
@import 'normilize/reset';
@import "mixin/fonts";
@import "fonts";

body {
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    padding: 0px 0px;
    margin: 0px 0px;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1230px;
    margin: 0px auto;
    font-size: 16px;
    position: relative;
}