.btn-top {
    display: none;
    cursor: pointer;
    z-index: 100;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 38px;
    height: 38px;
  
    @media (max-width: 768px) {
      bottom: 10%;
    }
  
    &.show {
      display: block;
    }
  
    &__element {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='32' height='32' rx='16' fill='%23DCDCDC' fill-opacity='0.31'/%3e%3cpath d='M9.11736 15.9597L15.406 9.16766C15.4824 9.08672 15.5742 9.0221 15.6759 8.97769C15.7777 8.93327 15.8873 8.90998 15.9983 8.9092C16.1092 8.90842 16.2191 8.93017 16.3215 8.97315C16.4239 9.01612 16.5166 9.07944 16.594 9.15931L22.8827 15.9514C23.3479 16.4493 22.9824 17.2572 22.2929 17.2572H19.269C18.9782 17.2572 18.7373 17.4944 18.7373 17.7793V22.1194C18.7373 22.6582 18.297 23.091 17.7487 23.091H14.243C13.703 23.091 13.2544 22.6582 13.2627 22.1277V17.7877C13.2601 17.6478 13.2029 17.5147 13.1034 17.4169C13.0039 17.3192 12.8701 17.2648 12.7311 17.2655H9.70719C9.01767 17.2655 8.65215 16.466 9.11736 15.9597Z' fill='%23DA1E48'/%3e%3c/svg%3e ");
    }
  }